@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import "compass/reset";

html,
body {
	z-index: 3;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000, #240334);
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;

}
	
.container {
	z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

.top-section {
    text-align: center;
}

.profile-section {
    margin-bottom: 50px;
}

.profile-pic {
    border-radius: 60%;
    width: 250px;
    height: 250px;
}

h1 {
	display: block;
    margin-block-start: 0.10em;
    margin-block-end: 0.10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-size: 4em;
	color:#fff;
}

.description {
    font-size: 1.5em;
	color:#fff;
	margin-bottom: 100px;
}

.identity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.identity-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.bottom-section {
    text-align: center;
	
}

.buttons {
    margin-bottom: 50px;
}

.info-btn, .creations-btn, .tracker-btn {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
	width: 278px;
    border: none;
	color: #fff;
    border-radius: 15px;
    padding: 20px 20px;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
	text-align: center;
    letter-spacing: 4px;
    overflow: hidden;
}

.info-btn:hover, .creations-btn:hover, .tracker-btn:hover {
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    color: #fff;
	box-shadow: 0 0 20px #ff4b2b;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

.social-section {
    display: flex;
    flex-direction: row;
	justify-content: center;
}

.twitch, .youtube, .steam, .discord, .kofi {
	border-radius: 20px;
	width: 100px;
	display: inline-block;
	justify-content: conter;
	align-items: center;
	padding: 20px 30px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: 0.5s;
	letter-spacing: 4px;
	overflow: hidden;
	margin-right: 10px;
	margin-left: 10px;
}


.identity-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 50px;
}

/*a {
	border-radius: 20px;
	width: 100px;
    display: inline-block;
	justify-content: conter;
	align-items: center;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
	text-align: center;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 30px;
}*/


/*a:hover{
    background: #fff;
    color: #050801;
    box-shadow: 0 0 5px #fff,
                0 0 25px #000,
                0 0 50px #fff,
                0 0 100px #fff;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);*/
}

a span{
    display: block;
	justify-content: center;
}

/* Additional classes for icons */
.twitch { background: linear-gradient(#6441a4, #6441a4); }
.youtube { background: linear-gradient(to right, #ff0000, #cc0000); }
.steam { background: linear-gradient(to right, #1b2838, #2a475e); }
.discord { background: linear-gradient(#7289da, #99aab5); }
.kofi { background: linear-gradient(to right, #29abe0, #007bb5); }

.twitch:hover{
	background: #6441a5;
    color: #fff;
	box-shadow: 0 0 50px #6441a5;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

.youtube:hover{
	background: #ff0000;
    color: #fff;
	box-shadow: 0 0 50px #ff0000;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

.steam:hover{
	background: #1da1f2;
    color: #fff;
	box-shadow: 0 0 50px #1da1f2;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

.discord:hover{
	background: #7289da;
    color: #fff;
	box-shadow: 0 0 50px #7289da;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

.kofi:hover{
	background: #29abe0;
    color: #fff;
	box-shadow: 0 0 50px #29abe0;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0002);
}

/*=======================================================================================*/

.stars, .twinkling {
	position:absolute;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
	z-index: 0;
	background: #000 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png') repeat top center;
}

.twinkling{
	z-index: 1;
	background:transparent url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png') repeat;
	background-size: 1000px 1000px;') repeat top center;
	animation: move-twink-back 150s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

/*======================================================================================*/



/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/





















